// 공통
#main {
    // height: 1000vh;
    background: #f4f3ef;
    z-index: -2;
}

.main-content {
    padding-bottom: 160px;
}

.fade {
    z-index: 3;
    max-height: 787px;
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    img {
        display: block;
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.object1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.main-tit {
    position: relative;
    padding-top: 220px;
    z-index: 1;
}

.tit {
    font-family: 'GmarketSansMedium';
    font-weight: 700;
    font-size: 42px;
    color: #551013;
    line-height: 0.5;
    br {
        content: '';
        display: block;
        margin-bottom: -15px;
    }
}

.subtit {
    font-weight: 400;
    font-size: 22px;
    color: $gray-70;
    br {
        content: '';
        display: block;
        margin-bottom: -5px;
    }
}

// button
.main-btn-cont {
    gap: 35px;
    width: 143.5px;
    margin-top: 10px;
    .btn-link {
        border: 1px solid $primary-40;
        border-radius: 30px;
        color: $primary-40;
        padding: 7.5px 17px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        &::after {
            content: '\f067';
            font-family: 'Line Awesome Free';
            font-weight: 900;
        }
    }
}
// header
#header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

// intro
.fade.intro-slide {
    img {
        height: 787px;
    }
}

// section 공통

.tit-wrap {
    position: relative;
}

.num {
    font-size: 70px;
    color: $primary-80;
    margin-bottom: -17px;
}

.title {
    font-weight: 700;
    font-size: 22px;
    color: #b45151;
}

.img-wrap {
    position: absolute;
    bottom: 14px;
    right: 0;
    width: 210px;
    height: 350px;
}

.img-wrap:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    display: block;
    background: #002b49;
}

.bike1 {
    position: absolute;
    width: 171.5px;
    height: 199px;
    object-fit: contain;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 25%);
}

.txt1 {
    margin-top: 11px;
    font-size: 18px;
}

// section 01
.main01-list {
    margin-top: 130px;
    li:nth-child(even) {
        margin-top: 120px;
    }
    li:nth-child(odd) {
        margin-top: 120px;
    }
    li:last-child {
        padding-bottom: 120px;
    }
}

.snd-letter1 {
    color: #b45151;
}

// section 02
.main02-list {
    margin-top: 80px;
    padding-left: 130px;
    margin-bottom: 134px;
    li {
        margin-top: 30px;
    }
}

.snd-letter2 {
    color: #aa8947;
}

.txt2 {
    margin-top: 11px;
    font-size: 16px;
}

// section 03
.snd-letter3 {
    color: #b76d44;
}
.txt-wrap {
    margin-top: 30px;
    color: $gray-80;
    .date {
        font-size: 14px;
        font-weight: 400;
    }
    .news-tit {
        font-weight: 700;
        margin: 10px 0 20px;
    }
}
.single {
    z-index: 3;
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    margin-top: 50px;
    img {
        display: block;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .slick-dots {
        margin-top: 30px;
    }
}

// footer
#footer {
    height: 100vh;
    background: $black;
    position: relative;
    .footer-inner {
        position: absolute;
        bottom: 10%;
    }
    .footer-content {
        padding: 0 20px;
        color: #ebebeb;
    }
    .ul-list-top {
        font-size: 26px;
        font-weight: 400;
        text-decoration: underline;
    }
    .ul-list-btm {
        font-size: 16px;
        margin-top: 38px;
        li {
            &:first-child {
                margin: 0px;
            }
            margin: 20px 0px 0px;
        }
        .footer-logo {
            position: absolute;
            top: 0;
            left: 0;
        }
        img {
            display: block;
            width: 140px;
            height: 62px;
            object-fit: contain;
        }
    }
    .copy {
        font-size: 12px;
        color: #aaaaaa;
        margin-top: 100px;
    }
}
