// about 페이지 공통

.main-content {
    background: #f4f3ef;
    padding: 0 0 160px;
    @include tabletMore {
        padding: 0 0 200px;
    }
}

img {
    filter: saturate(150%) brightness(90%);
}

.main-btn-cont {
    width: 143.5px;
    margin-top: 10px;
    @include tabletMore {
        width: 168px;
        margin-top: 50px;
    }
    .btn-link {
        border: 1px solid $primary-40;
        border-radius: 30px;
        color: $primary-40;
        padding: 7.5px 17px;
        opacity: 0;
        transform: translateY(-30px);
        transition: all 0.3s;
        &:hover {
            color: $gray-10;
            background: $primary-40;
        }
        @include tabletMore {
            padding: 12px 24px;
            font-size: 1.6rem;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.4rem;
        &::after {
            content: '\f067';
            font-family: 'Line Awesome Free';
            font-weight: 900;
        }
    }
}

// 로딩 페이지 (by gpt)
/* 로딩 페이지 스타일 */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* 로딩 페이지 배경색 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* 로딩 애니메이션 */
.loader {
    width: 80px;
    height: 80px;
    border: 10px solid #ddd;
    border-top: 10px solid #3a3a3a;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 로딩 애니메이션 - 본문 콘텐츠 숨김 */
.content {
    display: none;
}

// div별 코드
// intro & banner
.fade {
    z-index: 3;
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    img {
        display: block;
        width: 100%;
        height: 500px;
        @include tabletMore {
            height: 1000px;
        }
        object-fit: cover;
    }
}

// header
#header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

// intro
.fade.intro-slide {
    img {
        height: 787px;
        @include mobileMore {
            height: 1080px;
        }
    }
    .tit-cont {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $white;
        font-size: 5rem;
        font-weight: 700;
        padding: 0 20px;
    }
}

.intro-slide-cont {
    position: relative;
}
.control-cont {
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 4;
    padding: 0 20px;
    .pause {
        display: block;
        width: 35px;
        height: 35px;
        background: url(../../../resources/img/pattern/ico-pause.svg) no-repeat 0 -32px;
    }
}

// section 공통 텍스트 관련
.main-tit {
    position: relative;
    padding-top: 220px;
    z-index: 1;
    overflow: hidden;
}

.tit {
    position: relative;
    font-family: 'GmarketSansMedium';
    font-weight: 700;
    font-size: 4.2rem;
    overflow: hidden;
    @include tabletMore {
        font-size: 11rem;
    }
    color: #551013;
    line-height: 0.5;
    br {
        content: '';
        display: block;
        margin-bottom: -10px;
        @include tabletMore {
            margin-bottom: -30px;
        }
    }
}

.subtit {
    font-weight: 400;
    font-size: 2.2rem;
    opacity: 0;
    transform: translateY(70px);
    transition: opacity 1s 2.2s ease, transform 1s 2s ease;
    @include tabletMore {
        font-size: 4.4rem;
    }
    color: $gray-70;
    line-height: 1.1;
}

.tit-wrap {
    position: relative;
}

.num {
    font-size: 7rem;
    opacity: 0;
    transition: all 0.3s;
    @include tabletMore {
        font-size: 18rem;
        margin-bottom: -42px;
    }
    color: $primary-80;
    margin-bottom: -17px;
}

.title {
    font-weight: 700;
    font-size: 2.2rem;
    @include tabletMore {
        font-size: 3rem;
    }
    color: #b45151;
}

.title1 {
    opacity: 0;
    transition: all 0.3s;
}

.txt1 {
    margin-top: 11px;
    font-size: 1.8rem;
    opacity: 0;
    transition: all 0.3s ease 1s;
    @include tabletMore {
        font-size: 2.2rem;
    }
}

.letter-common {
    display: inline-block;
    position: relative;
}

.letter-common-even {
    z-index: 30;
}

.letter-common-odd {
    z-index: 40;
    background: #f4f3ef;
}

.sec-1__letter1,
.sec-1__letter3,
.sec-2__letter1,
.sec-2__letter3,
.sec-3__letter1,
.sec-3__letter3 {
    opacity: 0;
    transition: all 0.3s;
}

.sec-1__letter2,
.sec-1__letter4,
.sec-2__letter2,
.sec-2__letter4,
.sec-3__letter2,
.sec-3__letter4 {
    margin-left: -100%;
    opacity: 0;
    transition: opacity 1s 0.6s ease, margin 1s 0.6s ease;
}
// section 공통 레이아웃 관련
.sec-1 .inner,
.sec-2 .inner,
.sec-3 .inner {
    overflow: hidden;
}

.sec-1,
.sec-2,
.sec-3 {
    position: relative;
    overflow: hidden;
    width: 100%;
    .inner {
        max-width: 390px;
        @include mobileMore {
            max-width: 768px;
        }
        @include tabletMore {
            max-width: 1280px;
        }
    }
}

.sec-1::before {
    content: '3';
    position: absolute;
    top: -530px;
    right: -9%;
    width: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 67rem;
    font-weight: bold;
    @include mobileMore {
        top: -71.5rem;
        right: -25%;
        font-size: 117rem;
    }
    @include tabletMore {
        top: -150rem;
        right: -46%;
        font-size: 206rem;
    }
}

.sec-2::before,
.sec-3::before {
    content: '0';
    position: absolute;
    top: -473px;
    right: -23%;
    width: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 67rem;
    font-weight: bold;
    @include mobileMore {
        top: -71.5rem;
        right: -25%;
        font-size: 117rem;
    }
    @include tabletMore {
        top: -150rem;
        right: -46%;
        font-size: 206rem;
    }
}

// section 01
.sec-1 {
    &::before {
        background-image: url(../../../resources/img/pattern/about/sec1-bg-object1.jpg);
        background-position: 2rem -73px;
        background-size: 66rem;
        @include mobileMore {
            background-position: 2rem -18rem;
            background-size: 109rem;
        }
        @include tabletMore {
            background-position: 9rem -18rem;
            background-size: 180rem;
        }
    }
    .inner {
        .main-tit {
            @include mobileMore {
                padding-top: 500px;
            }
            @include tabletMore {
                padding-top: 582px;
            }
        }
    }
    .subtit {
        opacity: 0;
        transform: translateY(70px);
        transition: opacity 1s 2.2s ease, transform 1s 2s ease;
    }
}

.bike-oj-common {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 210px;
    transition: all 0.8s ease 0.5s;
    bottom: 0;
    left: 50%;
    @include tabletMore {
        width: 470px;
        height: 500px;
    }
}

.bike-oj-1 {
    transform: translate(-50%, 100%);
    @include mobileMore {
        transform: translate(-50%, 100%);
    }
    @include tabletMore {
        transform: translate(-50%, 90%);
    }
}

.bike-oj-2 {
    transform: translate(-50%, 86%);
    @include tabletMore {
        transform: translate(-50%, 84%);
    }
}

.bike-oj-3 {
    transform: translate(-50%, 76%);
    @include mobileMore {
        transform: translate(-50%, 83%);
    }
    @include tabletMore {
        transform: translate(-50%, 74%);
    }
}

.main01-list {
    // margin-top: 130px;
    li {
        width: 100%;
        &:nth-child(even) {
            margin-top: 120px;
            @include tabletMore {
                width: 55%;
                margin-top: 134px;
            }
        }
        &:nth-child(odd) {
            margin-top: 120px;
            @include tabletMore {
                width: 55%;
                margin-top: 100px;
                margin-left: auto;
            }
        }
        &:last-child {
            padding-bottom: 120px;
            @include tabletMore {
                width: 55%;
                padding-bottom: 300px;
            }
        }
    }
}

.img-wrap {
    position: absolute;
    bottom: 14px;
    left: 40%;
    width: 210px;
    height: 350px;
    overflow: hidden;
    @include mobileMore {
        width: 436.8px;
        left: 38%;
    }
    @include tabletMore {
        width: 478px;
        height: 400px;
        left: 32%;
    }
}

.img-wrap::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    transform: translate(0px, -2px);
    display: block;
    background: #002b49;
    transition: all 0.3s;
}

.sec-1__letter2,
.sec-1__letter4 {
    color: #b45151;
}

// section 02
.sec-2 {
    &::before {
        background-image: url('../../../resources/img/pattern/about/sec2-bg-object1.svg');
        background-position: -6rem -193px;
        background-size: 47rem;
        @include mobileMore {
            background-position: -6rem -17.9rem;
            background-size: 79rem;
        }
        @include tabletMore {
            background-position: -7rem -18rem;
            background-size: 140rem;
        }
    }
    .inner {
        .main-tit {
            @include mobileMore {
                padding-top: 500px;
            }
            @include tabletMore {
                padding-top: 350px;
                letter-spacing: -3px;
            }
        }
    }
    .subtit {
        opacity: 0;
        transform: translateY(70px);
        transition: opacity 1s 2.2s ease, transform 1s 2s ease;
    }
}

.FCM-cont {
    position: absolute;
    top: 43%;
    left: 0;
    .mask-objects {
        opacity: 0;
        transition: all 0.3s;
    }
    @include mobileMore {
        top: 55%;
    }
    @include tabletMore {
        top: 48%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.main02-list {
    margin: 80px 0 0 20px;
    padding-left: 130px;
    margin-bottom: 134px;
    z-index: 1;
    position: relative;
    @include tabletMore {
        margin: 500px 0 200px;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
    }
    li {
        margin-top: 30px;
        @include mobileMore {
            margin-top: 58px;
        }
        &:first-child {
            margin-top: 0px;
            @include tabletMore {
                margin-top: 58px;
            }
        }
        &:nth-child(2) {
            @include tabletMore {
                .title,
                .txt2,
                .main02-list__btn {
                    transition-delay: 0.7s;
                }
            }
        }
        &:nth-child(3) {
            @include tabletMore {
                .title,
                .txt2,
                .main02-list__btn {
                    transition-delay: 1.4s;
                }
            }
        }
        .title,
        .txt2,
        .main02-list__btn {
            opacity: 0;
            transform: translateY(50px);
            transition: opacity 0.8s ease, transform 0.8s ease;
        }
    }
}

.txt2 {
    margin-top: 11px;
    font-size: 1.6rem;
    color: $black;
    @include tabletMore {
        font-size: 2.2rem;
        width: 250px;
        height: 99px;
    }
}

.sec-2__letter2,
.sec-2__letter4 {
    color: #aa8947;
}

.mask-objects {
    display: flex;
    flex-direction: column;
    background: url('../../../resources/img/pattern/about/mask1.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 18rem;
    font-weight: 700;
    text-align: center;
    color: transparent;
    @include tabletMore {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        font-size: 50rem;
        bottom: 0;
    }
    span {
        line-height: 0.95;
    }
}

// section 03
.sec-3 {
    &::before {
        background-image: url('../../../resources/img/pattern/about/sec3-bg-object1.jpg');
        background-position: -84rem 0;
        background-size: 68rem;
        @include mobileMore {
            background-position: -40rem -17.9rem;
            background-size: 137rem;
        }
        @include tabletMore {
            background-position: -33rem -50.9rem;
            background-size: 177rem;
        }
    }
    .inner {
        .main-tit {
            @include mobileMore {
                padding-top: 500px;
            }
            @include tabletMore {
                padding-top: 350px;
            }
        }
        .slide-wrap {
            .about-btn-cont2 {
                display: none;
                @include tabletMore {
                    display: block;
                    margin-left: 0px;
                }
            }
        }
    }
    .about-btn-cont1 {
        margin-left: $p-mobile;
        @include mobileMore {
            margin-left: $p-tablet;
        }
        @include tabletMore {
            display: none;
        }
    }
}

.txt-wrap {
    margin-top: 30px;
    color: $gray-80;
    @include tabletMore {
        width: 396px;
    }
    .date {
        font-size: 1.4rem;
        font-weight: 400;
    }
    .news-tit {
        font-weight: 700;
        margin: 10px 0 20px;
        @include tabletMore {
            font-size: 2.7rem;
        }
    }
}

.sec-3__letter2,
.sec-3__letter4 {
    color: #b76d44;
}

.single {
    z-index: 3;
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    padding-bottom: 30px;
    margin: 50px 0px 0px;
    @include tabletMore {
        display: none;
    }
    img {
        display: block;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .slick-dots {
        display: none;
        @include tabletMore {
            display: block;
        }
        margin-top: 30px;
        bottom: 0px;
        li button:before {
            width: 10px;
            height: 10px;
        }
    }
    .slick-slide {
        margin: 0px 20px;
    }
    &__slide1 {
        opacity: 0;
        transform: translateY(80px);
        transition: opacity 0.8s ease, transform 0.8s ease;
    }
}

.multiple {
    display: none;
    @include tabletMore {
        width: 100%;
        height: auto;
        display: block;
        overflow: hidden;
        margin: 265px 0px 0px;
    }
    &__slide1 {
        opacity: 0;
        transform: translateY(80px);
        transition: opacity 0.8s ease, transform 0.8s ease;
    }
}

.home-key {
    position: fixed;
    bottom: 60px;
    right: 20px;
    @include tabletMore {
        right: 60px;
    }
    z-index: 10;
    &:before {
        content: '\f062';
        font-size: 1.9rem;
        @include tabletMore {
            font-size: 3rem;
            border-radius: 30px;
        }
        font-family: 'Line Awesome Free';
        font-weight: 900;
        background: $white;
        border-radius: 19px;
        padding: 10px;
    }
}

.ani {
    &.on {
        .sec-1__letter1,
        .sec-1__letter3,
        .sec-2__letter1,
        .sec-2__letter3,
        .sec-3__letter1,
        .sec-3__letter3,
        .mask-objects,
        .num,
        .title1,
        .txt1 {
            opacity: 1;
        }
        .sec-1__letter2,
        .sec-1__letter4,
        .sec-2__letter2,
        .sec-2__letter4,
        .sec-3__letter2,
        .sec-3__letter4 {
            margin-left: 0;
            opacity: 1;
        }
        .bike-oj-1 {
            transform: translate(-50%, 8%);
            @include mobileMore {
                transform: translate(-50%, 2%);
            }
            @include tabletMore {
                transform: translate(-50%, 13%);
            }
        }
        .bike-oj-2 {
            transform: translate(-50%, 22%);
            @include tabletMore {
                transform: translate(-50%, 24%);
            }
        }
        .bike-oj-3 {
            transform: translate(-50%, 19%);
            @include mobileMore {
                transform: translate(-50%, 10%);
            }
            @include tabletMore {
                transform: translate(-50%, 22%);
            }
        }
        .subtit,
        .title,
        .single__slide1,
        .btn-link,
        .txt2,
        .main02-list__btn,
        .multiple__slide1 {
            opacity: 1;
            transform: translateY(0);
        }
        .img-wrap::after {
            width: 100%;
        }
    }
}
