.big-wrap {
    display: flex;
    flex-direction: column;
    @include tabletMore {
        display: grid;
        grid-template-columns: calc(100% - 640px) 1fr;
        grid-template-rows: 737px auto;
    }
}

// swiper 관련
.swiper-slide {
    background-size: cover;
    background-position: center;
}

.buy-main-slide2 {
    height: 80%;
    width: 100%;
    padding-top: 80px;
    background: white;
    @include mobileMore {
        padding-top: 100px;
    }
    @include tabletMore {
        height: 100%;
        padding-top: 200px;
        padding: 0 0 0 24px;
        // 얘를 활성화 해야지 pagination이 보임 + nav도 망가짐
        // overflow: visible;
    }

    .swiper-slide {
        height: 330px;
        @include mobileMore {
            height: 600px;
        }
        @include tabletMore {
            height: 735.25px;
        }
    }
    .swiper-pagination {
        position: absolute;
        bottom: -7%;
        @include tabletMore {
            display: none;
        }
    }
    .swiper-pagination-bullet-active {
        background: $primary; /* 활성화된 점 색깔 */
    }
}

.buy-main-slide {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
    display: none;
    @include tabletMore {
        display: block;
        height: 7%;
        background: #fff;
        position: relative;
        top: 0;
        left: 0;
        z-index: 9999;
        .swiper-wrapper {
            justify-content: center;
            gap: 8px;
        }
        .swiper-slide {
            width: 78px !important;
            height: 100%;
            img {
                border-radius: 5px;
            }
        }
    }
}

.buy-main-slide .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.buy-main-slide .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// mobile nav 버튼
.mobile-btns-wrap {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4rem;
    color: #5d5d5d;
    background: $white;
    width: 100%;
    @include tabletMore {
        display: none;
    }
}

.btn-menu {
    &:before {
        content: '\f0c9';
        display: block;
        font-family: 'Line Awesome Free';
        font-weight: 900;
    }
}

.btn-search {
    &:before {
        content: '\f002';
        display: block;
        font-family: 'Line Awesome Free';
        font-weight: 900;
    }
}

.btn-home {
    &:before {
        content: '\f015';
        display: block;
        font-family: 'Line Awesome Free';
        font-weight: 900;
    }
}

.btn-shopping-cart {
    &:before {
        content: '\f291';
        display: block;
        font-family: 'Line Awesome Free';
        font-weight: 900;
    }
}

.btn-profile {
    &:before {
        content: '\f007';
        display: block;
        font-family: 'Line Awesome Free';
        font-weight: 900;
    }
}

// buy-aside
.buy-aside {
    position: relative;
    z-index: 1;
    padding-top: 1px;
    background: white;
    @include tabletMore {
        position: sticky;
        height: 100vh;
        width: 640px;
        min-width: 0;
        top: 0;
        margin-left: auto;
        z-index: 6000;
        flex: 1;
        padding: 80px 0 0;
    }
    .inner {
        @include tabletMore {
            max-width: 500px;
        }
        .buy-aside-flex-wrap-big {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-bottom: 24px;
        }
    }
}
.buy-want-date {
    display: flex;
    gap: 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid $gray-40;
    a {
        text-decoration: underline;
    }
    &::before {
        content: '\f0d1';
        font-family: 'Line Awesome Free';
        font-weight: 900;
    }
}
.buy-for-save {
    display: flex;
    gap: 10px;
    &:before {
        content: '\f004';
        font-family: 'Line Awesome Free';
        font-weight: 900;
    }
}

.buy-txt-h2 {
    margin-top: 32px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 100%;
}
.wrap-two3 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.buy-txt-p1 {
    color: $gray-50;
    font-size: 1.4rem;
}
.buy-txt-wrap1 {
    display: flex;
    align-items: center;
    gap: 8px;
}
.buy-star-wrap {
    display: flex;
    gap: 1px;
}
.buy-txt-price {
    font-size: 2.4rem;
    font-weight: 500;
}
.buy-txt-price-origin {
    font-size: 2rem;
    font-weight: 500;
    text-decoration: line-through;
    color: $gray-40;
}
.buy-review-value {
    font-size: 1.6rem;
    font-weight: 500;
    color: $gray-50;
}
.buy-txt-p {
    font-size: 1.6rem;
    font-weight: 500;
    color: $black;
}
.buy-detailto::after {
    content: '\f063';
    font-family: 'Line Awesome Free';
    font-weight: 900;
    color: $black;
}
.btn-circle {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid transparent;
    margin-right: 4px;
    padding: 2px;
    transition: 250ms ease-in-out;
    &.color-clicked {
        border: 2px solid rgb(37, 37, 37);
    }
    .circle {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 30px;
    }
}

.red {
    background: red;
}
.black {
    background: $black;
}
.buy-txt-k1 {
    font-size: 1.6rem;
    font-weight: 700;
    color: $black;
}
.buy-txt-k1-v {
    font-size: 1.4rem;
    font-weight: 400;
    color: $black;
}
.buy-btns-wrap-size {
    display: flex;
    flex-direction: column;
}
.buy-btns-flex-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}
.buy-btn-size {
    width: 100%;
    padding: 5px 2px;
    border: 1px solid $gray-40;
    border-radius: 4px;
    background-color: white;
    font-size: 1.4rem;
    text-align: center;
    &:hover {
        box-shadow: inset 0 0 0 2px $gray-60;
    }
    &.selected {
        background-color: #d9534f;
        color: white;
        border: none;
    }
}
.buy-measure-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid $gray-40;
    border-radius: 8px;
    position: relative;
    .buy-ruler-css {
        width: 20px;
        height: 15px;
        background: $white;
        position: absolute;
        top: -10px;
        left: 15px;
        overflow: hidden;
        object-fit: cover;
    }
    h3 {
        font-size: 1.6rem;
        font-weight: 400;
        padding: 10px 20px;
    }
    .pd {
        display: flex;
        justify-content: center;
        padding: 0 0 14px;
        .buy-btn-mc {
            width: 90%;
        }
    }
    p {
        font-size: 1.2rem;
        padding: 0 20px;
    }
    a {
        font-size: 1.4rem;
        text-decoration: underline;
        font-weight: 700;
        padding: 0 20px 20px;
    }
}
.buy-btns-wrap-stor {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.buy-btn-mc {
    padding: 10px 100px;
    border-radius: 6px;
    width: 100%;
    span {
        white-space: nowrap;
        font-size: 1.6rem;
    }
}

.buy-review-btn {
    width: 160px !important;
    margin-right: auto;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobileMore {
        margin-left: auto;
        margin-right: 0;
    }
}
.buy-btn-mc1 {
    background: $gray-90;
    color: $white;
    &:hover {
        background: $gray-40;
    }
}
.buy-btn-mc2 {
    border: 1px solid $gray-40;
    color: $gray-90;
    &:hover {
        box-shadow: inset 0 0 0 2px $gray-60;
    }
}

//main
.buy-txt-wrap2 {
    padding: 24px 10px 0px;
    h3 {
        font-size: 1.2rem;
        font-weight: 400;
    }
    h4 {
        font-size: 2.4rem;
        font-weight: 500;
    }
    p {
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 22px;
    }
}

.buy-main-slide3 {
    padding: 0 0 40px;
    .swiper-pagination {
        position: relative;
        margin-top: 20px;
    }
    .swiper-wrapper {
        height: 220px;
        @include mobileMore {
            height: 432px;
        }
        @include tabletMore {
            height: 775px;
        }
    }
}

.player {
    padding-top: 56.25%;
    position: relative;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}

// section
.buy-main-cont {
    padding: 0 0 24px;
}
.buy-more-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0;
    border-top: 1px solid $gray-40;
    h2 {
        font-size: 2.4rem;
        font-weight: 500;
    }
    i {
        font-size: 2.4rem;
    }
}

/* 초기 상태 */
.la-minus-circle {
    display: none; /* 기본적으로 숨김 */
}

/* 콘텐츠 */
.buy-more-cont1,
.buy-more-cont2,
.buy-more-cont3,
.buy-more-cont4 {
    display: none; /* 처음에 숨김 */
}
.buy-more-cont3 {
    font-size: 1.3rem;
    @include mobileMore {
        font-size: 1.7rem;
    }
    td {
        text-align: center;
    }
}

.more-clicked {
    display: block; /* 보이는 상태 */
}

.buy-more-cont1 {
    ul {
        list-style: disc;
        padding: 24px 16px;
    }
}

.buy-more-cont2 {
    &__flex {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $gray-40;
        h4 {
            font-size: 2.4rem;
            color: $gray-90;
            padding-bottom: 10px;
            width: 120px;
        }
        .tech-line {
            width: 350px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            color: $gray-60;
            text-align: left;
            font-size: 1.4rem;
            white-space: normal;
            strong {
                color: $gray-80;
            }
            @include mobileMore {
                font-size: 1.7rem;
            }
            @include tabletMore {
                width: 800px;
            }
        }
        @include mobileMore {
            display: flex;
            justify-content: space-between;
            align-items: start;
        }
    }
}

.buy-more-cont4 {
    &__flex {
        display: flex;
        gap: 15px;
        padding-bottom: 10px;
        text-align: start;
        i {
            font-size: 2rem;
        }
    }
}

.buy-review-wrap {
    background: $gray-10;
    .buy-review-header {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 24px;
        .heading {
            font-size: 2.5rem;
        }
        .buy-review-btns {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            gap: 10px;
            @include mobileMore {
                flex-direction: row;
                align-items: center;
                gap: 0px;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 16px;
            @include mobileMore {
                flex-direction: row;
                justify-content: space-between;
                gap: 0;
                button {
                    width: auto;
                    padding: 0 16px;
                }
            }
        }
        button {
            background: $gray-90;
            span {
                color: $white;
            }
        }
    }
    .swiper-wrapper {
        margin-bottom: 24px;
        &:first-child {
            margin-left: 20px;
        }
    }
    .swiper.buy-review-slide {
        width: 100%;
        .swiper-slide {
            border-radius: 10px;
        }
    }
    .buy-review-card {
        background: $white;
        height: 100%;
        width: 350px;
        padding: 24px;
        text-align: left;
        border-radius: 10px;
        &__namedate {
            display: flex;
            justify-content: space-between;
        }
        h3 {
            font-size: 1.8rem;
            font-weight: 500;
        }
        &__p {
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            line-clamp: 4; /* 호환성을 위해 */
            -webkit-box-orient: vertical;
            overflow: hidden;
            p {
                font-size: 1.4rem;
                font-weight: 400;
            }
        }
        .buy-mini-p {
            margin-bottom: 20px;
        }
        &__helpful {
            display: flex;
            align-items: center;
            padding: 20px 10px 0 0;
            border-top: 1px solid $gray-40;
            p {
                padding-right: 8px;
            }
            .la-thumbs-up {
                padding-right: 6px;
            }
        }
    }
}
