// ani
.ani-shop {
    &.on {
        .shop-banner3-img {
            border-radius: 45% 60%;
        }
    }
}

//shopping - aside swiper
.art-0-grid-slide {
    margin: 8rem auto 0 auto;
    height: 520px;
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: $white;
        height: calc((100% - 30px) / 3) !important;

        /* Center slide text vertically */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .swiper-pagination {
        display: none;
        @include tabletMore {
            display: block;
        }
    }
}

.shop-aside-swiper {
    .shop-aside-txts {
        color: $white;
        position: absolute;
        bottom: 7%;
        left: 0;
        text-align: left;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        h4 {
            font-size: 1.6rem;
            font-weight: 700;
        }
        h2 {
            font-size: 2.8rem;
            font-weight: 700;
        }
        p {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}

.shop-aside-fixed-icons {
    position: fixed;
    z-index: 6001;
    bottom: 3%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $gray-80;
    height: 140px;
    .shop-hist {
        padding: 5px 10px;
        background: $white;
        font-size: 1.8rem;
        border-radius: 100%;
    }
    .shop-kc {
        padding: 5px 10px;
        background: $white;
        font-size: 1.8rem;
        border-radius: 100%;
    }
    .shop-totop {
        position: relative;
        padding: 5px 10px;
        background: $white;
        font-size: 1.8rem;
        border-radius: 100%;
    }
}

.shop-sec0-img-wrap {
    background: $gray-10;
    border-radius: 10px;
    height: 139px;
    width: calc(100% - 10px);
    margin: 0 auto 0 0;
    img {
        object-position: 50% 10px;
    }
}

.art-0-grid-slide {
    .ss0iw1,
    .ss0iw2,
    .ss0iw3,
    .ss0iw4,
    .ss0iw5,
    .ss0iw6,
    .ss0iw7,
    .ss0iw8 {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            object-fit: contain;
        }
    }
    .ss0iw3,
    .ss0iw4,
    .ss0iw6 {
        img {
            object-position: 50% 69%;
        }
    }

    .ss0iw1 {
        background: #f2f2f2;
    }
    .ss0iw2 {
        background: #9fc0c3;
    }
    .ss0iw3 {
        background: #cebb94;
    }
    .ss0iw4 {
        background: #c8a9a8;
    }
    .ss0iw5 {
        background: #959f87;
        img {
            object-position: 50% 50%;
            width: 100px;
        }
    }
    .ss0iw6 {
        background: #8686a9;
        img {
            width: 150px;
        }
    }
    .ss0iw7 {
        background: #e5e5e5;
    }
    .ss0iw8 {
        background: #ffa326;
        img {
            object-position: 50% 50%;
            width: 100px;
        }
    }
    .ss0iw9 {
        background: #f2c894;
        img {
            object-fit: cover;
            object-position: 110%;
        }
    }
}

.shop-sec0-txt {
    width: calc(100% - 10px);
    margin: 0 auto 0 0;
    font-size: 1.2rem;
    color: $gray-90;
}

// shopping - 공통
.shopping-main-container img {
    width: 100%;
    border-radius: 2rem;
}

.shop-space1 {
    margin-bottom: 8rem;
}

.art-h2 {
    margin-bottom: 3%;
    font-size: 2.2rem;
    font-weight: 700;
}

.art-h3 {
    margin-top: 8%;
    font-size: 2.2rem;
    font-weight: 500;
    br {
        margin-bottom: -1rem;
    }
}

.art-p {
    margin: 3% 0 9%;
    font-size: 1.4rem;
    font-weight: 400;
    color: $gray-60;
    br {
        margin-bottom: -0.6rem;
    }
}

br {
    content: '';
    display: block;
}

.shopping-main-container {
    @include tabletMore {
        width: 1280px;
        padding: 0 320px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1620px) {
    #main {
        .shopping-main-container {
            width: 640px;
            padding: 0 30px;
        }
    }
}

.shopping-main-container .inner {
    max-width: 390px;
    padding: 0 0 80px;
    @include mobileMore {
        max-width: 768px;
    }
    @include tabletMore {
        max-width: 1280px;
    }
    .row {
        padding: 0 20px;
        @include mobileMore {
            padding: 0 30px;
            .column:first-child {
                padding-right: 2%;
            }
            .column:last-child {
                padding-left: 2%;
            }
        }
        @include tabletMore {
            padding: 0;
        }
    }
}

// aside
#aside {
    height: 100vh;
    @include tabletMore {
        position: sticky;
        width: 640px;
        min-width: 0;
        top: 0;
        margin-left: auto;
        z-index: 6000;
        flex: 1;
    }
}

.shopping {
    @include tabletMore {
        display: flex;
        flex-direction: row-reverse;
    }
}

// .aside-avatar {
//     background: red;
//     flex-grow: 1;
// }

// shopping - article - type 1
.shop-art1-container {
    // padding은 어떤 단위로 수정하는게 좋을까
    padding: 8rem 0;
}
.art1-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__mc {
        width: 48%;
        > img {
            border-radius: 10px;
            width: 100%;
            height: 220px;
            object-fit: cover;
        }
    }
}
.art1-mc-txt1 {
    margin-top: 1.1rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #c4e40d;
}
.art1-mc-txt2 {
    font-size: 1.4rem;
    font-weight: 400;
}
// shopping - article - type 2
.shop-art2-container {
    padding: 8rem 0;
    > img {
        border-radius: 1rem;
    }
}

.art2-btns-wrap {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 700;
    color: $gray-50;
    .art2-btn {
        &.clicked {
            background-color: $primary-80;
            border-radius: 20px;
            padding: 4px 12px;
            color: $gray-20;
        }
    }
}

.art2-detail-wrap {
    display: flex;
    justify-content: space-between;
    margin: 5% 0 0;
    &__mc {
        width: 30%;
        > img {
            border-radius: 1rem;
            width: 100%;
            height: 155px;
            object-fit: cover;
        }
    }
}

.art2-mc-txt1 {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: $gray-80;
    > br {
        margin-bottom: -0.6rem;
    }
}

.art2-price {
    font-size: 1.2rem;
    font-weight: 700;
    color: $gray-90;
}
// shopping - article - type 3
.shop-art3-container {
    padding: 8rem 0;
    .art-p {
        margin-bottom: 0;
    }
}
.art3-detail-wrap {
    margin: 10% 0;
    &__mc {
        display: flex;
        align-items: center;
        gap: 5%;
        margin: 5% 0 0;
    }
}
.art3-mc-img-wrap {
    background: #e7decd;
    padding: 8% 1.5%;
    width: 38%;
    border-radius: 1.5rem;
}
.art3-mc-txt1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: $gray-60;
}
.art3-mc-txt2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: $gray-40;
    text-decoration: line-through;
}
.art3-mc-txt3 {
    font-size: 1.5rem;
}
.art3-mc-txt4 {
    font-size: 1.6rem;
    color: $gray-80;
}
.art3-mc-txt5-wrap {
    display: flex;
    align-items: center;
    gap: 4%;
    margin-top: 4%;
}
.art3-mc-txt5 {
    font-size: 1rem;
    color: $gray-70;
    background: $gray-5;
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
}
// shopping - banner - type 1
.shop-banner1-container {
    position: relative;
    overflow: visible;
    &__content-wrap {
        background: #391428;
        border-radius: 15px;
        color: $white;
        padding: 6% 4%;
        .txt-sort {
            display: inline-block;
            border-radius: 15px;
            margin-bottom: 5%;
            padding: 0.4% 1.5%;
            background: $white;
            opacity: 30%;
            color: #391428;
            font-size: 1.2rem;
            position: relative;
        }
        .shop-banner1-txt1 {
            font-size: 2.8rem;
            letter-spacing: -0.3rem;
        }
        .shop-banner1-txt2 {
            font-size: 1.4rem;
            letter-spacing: -0.1rem;
        }
        .banner1-img-wrap {
            position: absolute;
            bottom: 0;
            right: 0;
            transform-origin: bottom right;
            transform: translate(0, 10%);
            width: 50%;
        }
    }
}
// shopping - banner - type 2
.shop-banner2-container {
    position: relative;
    overflow: visible;
    &__content-wrap {
        background: #f5f5f5;
        border-radius: 15px;
        color: #725766;
        padding: 6% 4%;
        .shop-banner2-txt1 {
            font-size: 2.2rem;
            font-weight: 900;
            letter-spacing: -0.1rem;
        }
        .shop-banner2-txt2 {
            font-size: 1.4rem;
            letter-spacing: -0.1rem;
            br {
                margin-bottom: -0.6rem;
            }
        }
        .shop-banner2-txt3 {
            font-size: 1.2rem;
            font-weight: 700;
            letter-spacing: -0.1rem;
        }
        .banner2-img-wrap {
            position: absolute;
            bottom: 0;
            right: 0;
            transform-origin: bottom right;
            transform: translate(0, 10%);
            width: 50%;
        }
    }
}
// shopping - banner - type 3
.shop-banner3-container {
    position: relative;
    text-align: center;
    &__content-wrap {
        @include mobileMore {
            display: flex;
            .bnr3-txt-wrap {
                margin: auto;
                text-align: left;
            }
        }
    }
    .shop-banner3-img {
        border-radius: 60% 45%;
        transition: all 0.7s;
        height: 333px;
        width: 350px;
        object-fit: cover;
        margin: 0 auto;
    }
}
.shop-banner3-txt1 {
    margin-top: 5%;
    font-size: 2.8rem;
    font-weight: 500;
    br {
        margin-bottom: -1rem;
    }
}
.shop-banner3-txt2 {
    font-size: 1.6rem;
    font-weight: 400;
    color: $gray-60;
    br {
        margin-bottom: -0.6rem;
    }
}
