// content 으로 옮길 예정
.art-0-grid-slide {
    margin-left: auto;
    margin-right: auto;
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        height: calc((100% - 30px) / 2) !important;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// common 분류할까?
.art-h2 {
    margin-bottom: 3%;
    font-size: 2.2rem;
    font-weight: 700;
}

.art-h3 {
    margin-top: 8%;
    font-size: 2.2rem;
    font-weight: 500;
    br {
        margin-bottom: -1rem;
    }
}

.art-p {
    margin: 3% 0 9%;
    font-size: 1.4rem;
    font-weight: 400;
    color: $gray-60;
    br {
        margin-bottom: -0.6rem;
    }
}

.art-btns-wrap {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 700;
    color: $gray-50;
}

br {
    content: '';
    display: block;
}

// shopping - article - type 1
.shop-art1-container {
    // padding은 어떤 단위로 수정하는게 좋을까
    padding: 8rem 0;
}
.art-type1-detail {
    display: flex;
    align-items: center;
    gap: 4%;
    &__mc {
        > img {
            border-radius: 10px;
        }
        .type1-mc-txt1 {
            margin-top: 1.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            color: #c4e40d;
        }
        .type1-mc-txt2 {
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
}

// shopping - banner - type 1
.shop-banner1-container {
    position: relative;
    overflow: visible;
    &__content-wrap {
        background: #391428;
        border-radius: 15px;
        color: $white;
        padding: 6% 4%;
        .txt-sort {
            display: inline-block;
            border-radius: 15px;
            margin-bottom: 5%;
            padding: 0.4% 1.5%;
            background: $white;
            opacity: 30%;
            color: #391428;
            font-size: 1.2rem;
            position: relative;
        }
        .shop-banner1-txt1 {
            font-size: 2.8rem;
            letter-spacing: -0.3rem;
        }
        .shop-banner1-txt2 {
            font-size: 1.4rem;
            letter-spacing: -0.1rem;
        }
        .banner-type1-img-wrap {
            position: absolute;
            bottom: 0;
            right: 0;
            transform-origin: bottom right;
            transform: translate(0, 10%);
            width: 50%;
        }
    }
}
// shopping - article - type 2
.shop-art2-container {
    padding: 8rem 0;
}
